<body>

    <div class="container-fluid">
        <!--*************** section recherche****************************************************** -->
        
        <div class="card-search mt-4  text-center border-light" >
            <div class=" md-8 sm-* mt-4 ">
              
                <input class="form-control sm-* mt-4 " type="text" name="search" placeholder="chercher une bibliothèque"
                    style="max-width:60%;" [(ngModel)]="recherche"
                    (ngModelChange)="chercherBibliothequeMotCle()">

                <form (ngSubmit)="chercherBibliothequeNbrAdherent(formulaire)" #formulaire="ngForm">
                    <input class="form-control sm-* mt-4" type="text" name="min"
                        placeholder="entrez le nombre minimum des adhérents" style="max-width:60%;" ngModel>
                    <input class="form-control sm-* mt-4 " type="text" name="max"
                        placeholder="entrez le nombre maximum des adhérents" style="max-width:60%;" ngModel>
                    <button type="submit" class="btn btn-outline-dark mt-1">Chercher</button>
                </form>
                <section *ngIf="message" style="max-width:60%;">
                    <div class="alert alert-secondary alert-dismissible fade show" role="alert" >
                        <strong>Oups!</strong> Aucune bibliotheque ne correspond à votre recherche!
                        <button type="button" class="btn-close justify-content-center" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </section>
             
            </div>
        </div>
        <!-- ********************************affichage bibliotheques************************** -->
        
        <div class="row row g-0 justify-content-start text text-align">
            <div class="col-md-8 col-lg-8 sm-* mt-1 border border-light">
                <button class="btn btn-outline-dark mt-4" type="button" (click)="afficherFormAjout()">Nouvelle
                    bibliothèque</button>
                <div class="card-horizontal mt-4 border-light" [ngClass]="{'bg-light': bibliotheque.id==id}"
                    *ngFor="let bibliotheque of listeBibliotheques._embedded.bibliotheques">

                    <img style=" height :300px; " src="{{bibliotheque.image}}" alt="" class="card-img-top w-50">
                    <div class="md-8">
                        <div class="card-body">
                            <p class="card-title text-center text-secondary">{{bibliotheque.nom}}</p>
                            <p class="card-text">{{bibliotheque.description}}. </p>
                            <small class="text-muted">Adresse :{{bibliotheque.adresse}}.<br></small>
                            <small class="text-muted">Tel :{{bibliotheque.tel}}</small>
                        </div>
                        <div class="">
                            <i class="far fa-edit" type="button" (click)="modifierBibliotheque(bibliotheque)"></i>
                            <i class="far fa-trash-alt" type="button"
                                (click)="supprimerBibliotheque(bibliotheque.id)"></i>
                            <i class="fas fa-book-open" [class.active]="isActive" type="button" style="font-size: 20px;"
                                (click)="afficherLivres(bibliotheque.id)"></i>
                        </div>
                    </div>
                </div>
                <!-- card livres  [ngClass]="{'red':status==1}"   [ngClass]="{'text-warning': status==1,'red':status==2}" -->

            </div>
            <ng-container *ngIf="showLivres">
                <div class="col-md-4 col-lg-4 mt-4 ml-2">
                    <div class="card justify-content-end " style="width: 18rem;"
                        *ngFor="let livre of listeLivres._embedded.livres">
                        <div class="card-header text-secondary ">
                            Livre
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Titre: {{livre.titre}}</li>
                            <li class="list-group-item">Description: {{livre.description}}</li>
                        </ul>
                    </div>
                </div>
            </ng-container>
        </div>


        <!--  **** formulaire d'ajout de bibliotheque********* -->

        <ng-container *ngIf="show1" id=formAjout>
            <div class="container-fluid mt-4">

                <h1 class="text-center mt-4">Ajouter une Bibliotheque</h1>

                <form (ngSubmit)="ajouterBibliotheque(bibliotheque)" #bibliotheque="ngForm">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="nom">Nom </label>
                            <input type="text" class="form-control" name="nom" placeholder="Entrer nom" ngModel required
                                id="">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="description">Description</label>
                            <input type="text" class="form-control" name="description" placeholder="Entrer description"
                                ngModel required id="">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="image">Lien de l'image image</label>
                            <input type="text" class="form-control" name="image" placeholder="Entrer lien image" ngModel
                                required id="">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="adresse">Adresse</label>
                            <input type="text" class="form-control" name="adresse" placeholder="Entrer adresse" ngModel
                                required id="">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="tel">Téléphone</label>
                            <input type="text" class="form-control" name="tel" placeholder="Entrer tel" ngModel required
                                id="">
                        </div>

                        <button type="submit" class="btn btn-outline-dark">Ajouter</button>

                    </fieldset>
                </form>
            </div>
        </ng-container>


        <!-- ***********formulaire de modification de bibliotheque************* -->
        <ng-container *ngIf="show2" id=formModif>
            <div class="container-fluid mt-4">

                <h1 class="text-center mt-4">Modifier Bibliothèque</h1>

                <form (ngSubmit)="enregistrerModificationBibliotheque()">
                    <fieldset>
                        <label class="col-form-label mt-4" for="id">Id</label>
                        <div class="form-group">
                            <input class="form-control" name="id" [disabled]="true"
                                [(ngModel)]="bibliothequeRecupere.id">
                        </div>
                        <label class="col-form-label mt-4" for="nom">Nom </label>
                        <div class="form-group">
                            <input class="form-control" name="nom" [(ngModel)]="bibliothequeRecupere.nom">
                        </div>
                        <label class="col-form-label mt-4" for="description">Description</label>
                        <div class="form-group">
                            <input class="form-control" name="description"
                                [(ngModel)]="bibliothequeRecupere.description">
                        </div>
                        <label class="col-form-label mt-4" for="image">Lien de l'image</label>
                        <div class="form-group">
                            <input class="form-control" name="image" [(ngModel)]="bibliothequeRecupere.image">
                        </div>
                        <label class="col-form-label mt-4" for="adresse">Adresse</label>
                        <div class="form-group">
                            <input class="form-control" name="adresse" [(ngModel)]="bibliothequeRecupere.adresse">
                        </div>
                        <label class="col-form-label mt-4" for="tel">Téléphone</label>
                        <div class="form-group">
                            <input class="form-control" name="tel" [(ngModel)]="bibliothequeRecupere.tel">
                        </div>

                        <button type="submit" class="btn btn-outline-dark">Valider</button>
                    </fieldset>

                </form>
            </div>
        </ng-container>

    </div>

    <router-outlet></router-outlet>
</body>