<body>
    
    <div>
    <main class="container"  >

        <section class="row justify-content-center text text-align">

            <article class=" card col-10 mt-4 border border-light" *ngFor="let bibliotheque of listeBibliotheques._embedded.bibliotheques">
                <img style=" height :500px; " src="{{bibliotheque.image}}" class="card-img-top w-200" alt="">
                <div class="card-body">
                    <h2 class="card-title text-center text-secondary">{{bibliotheque.nom}}</h2>
                    <p class="card-text">{{bibliotheque.description}}. </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Adresse :{{bibliotheque.adresse}}.<br></small>
                    <small class="text-muted">Tel :{{bibliotheque.tel}}</small>
                  </div>
                <div class="d-grid gap-2">
                    <!-- <button class="btn btn-outline-dark" type="button" ></button>
                    <button class="btn btn-outline-dark" type="button" ></button> -->
                  </div>
            </article>

            
        </section>


    </main>
</div>
<router-outlet></router-outlet>
</body>
