<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * ****************** * * * * * * * * * * * -->
<!-- * * * * * * * * * * ********************** * * * * * * * * * * -->
<!-- * * * * * * * * * * ******************* * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * *************************** *Toto * ************ * * * * * * * -->
<!-- * * * * * * * Projet Bibliothèques Dallel Mekkiou*********** * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<body class="home-page">
   <div id="header">
    <ul class="navbar navbar-expand-lg navbar-light justify-content-center text-uppercase text-light ">
      <li class="nav-item mx-4">
        <a class="nav-link text-light" href="#">Home</a>
      </li>
      <li class="nav-item mx-4">
        <a class="nav-link text-light" routerLink="bibliotheque">Bibliothèques</a>
      </li>
      <li class="nav-item mx-4">
        <a class="nav-link text-light" routerLink="gestionBibliotheque">Admin</a>
      </li>
      <li class="nav-item mx-4">
        <a class="nav-link text-light" routerLink="authentification">Connexion</a>
      </li>
      <li class="nav-item mx-4">
        <a class="nav-link text-light" >{{authentificationService.utilisateurConnecte}} </a>
      </li>
    </ul>
    <div class="banner text-light">
      <h1 class="text-uppercase text-center"><strong> Bibliothèques du monde les plus spectaculaires</strong></h1>
      <p> Le top 20 des plus belles bibliothèques du monde
        Lieux de savoirs et de connaissances, les bibliothèques ont toujours été des endroits inspirants et calmes. En voici 20 qui présentent non seulement des tonnes de livres, mais aussi une architecture hors du commun!
       </p>
    </div>
  </div>
 
  <router-outlet></router-outlet>
</body>
