<div class="container-fluid" >
<div class="card mt-4 w-50 text-center" >
<!-- ******************messages ************************************************* -->
        <div class="alert alert-secondary alert-dismissible fade show" role="alert" *ngIf="messageConnexion">
            <strong></strong> Connexion réussie !
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-secondary alert-dismissible fade show" role="alert" *ngIf="messageErreur">
            <strong>Oups!</strong> Connexion echouée !
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
  
<!--******************formulaire de connexion************************************* -->
 <form (ngSubmit)="methodeConnexion(formulaire)" #formulaire="ngForm">
    <div class="mb-3">
      <label for="nom" class="form-label mt-4">Nom utilisateur</label>
      <input type="text" class="form-control" name="nom" id="" ngModel>
    </div>
    <div class="mb-3">
      <label for="motPasse" class="form-label">Mot de passe</label>
      <input type="password" class="form-control" name="motPasse" id="" ngModel>
    </div>
    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-outline-dark">Valider</button>
  </form>
</div>
</div>